'atom-text-editor.vim-mode.visual-mode':
  'j': 'vim-mode-visual-blockwise:j'
  'k': 'vim-mode-visual-blockwise:k'
  'h': 'vim-mode-visual-blockwise:h'
  'l': 'vim-mode-visual-blockwise:l'
  'I': 'vim-mode-visual-blockwise:I'
  'A': 'vim-mode-visual-blockwise:A'
  'D': 'vim-mode-visual-blockwise:D'
  'o': 'vim-mode-visual-blockwise:o'
  'escape': 'vim-mode-visual-blockwise:escape'
  'ctrl-[': 'vim-mode-visual-blockwise:escape'
  'ctrl-c': 'vim-mode-visual-blockwise:escape'
