'atom-text-editor.vim-mode.visual-mode':
  'o':      'vim-mode-visual-block:o'
  'j':      'vim-mode-visual-block:j'
  'k':      'vim-mode-visual-block:k'
  'D':      'vim-mode-visual-block:D'
  'C':      'vim-mode-visual-block:C'
  'I':      'vim-mode-visual-block:I'
  'A':      'vim-mode-visual-block:A'
  'escape': 'vim-mode-visual-block:escape'
  'ctrl-[': 'vim-mode-visual-block:escape'
  'ctrl-c': 'vim-mode-visual-block:escape'
  'ctrl-v': 'vim-mode-visual-block:ctrl-v'
